p {
    font-style: normal;
    font-family: "LM Roman 9";
}

h1 {
    color:black;
    font-size: 2.5em;
    font-style: normal;
    font-family: "LM Roman Caps 10";
}

h2{
    color:black;
    font-size: 1.75em;
    font-style: normal;
    font-family: "LM Roman Caps 10";
}

h3 {
    color:black;
    font-size: 1em;
    font-style: normal;
    font-family: "LM Roman Caps 10";
}

a:link {
    color: #7689A9;
}

a:visited {
    color: #417C81;
}

span.stars, span.stars span {
    display: inline-block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

li a {
    background: azure;
    border: solid dimgray;
    border-radius: 15px;
    padding: 7px;
    font-style: normal;
    text-decoration-style: -moz-none;
    font-size: 1.25em;
    font-family: "LM Roman Caps 10";
}

li a:hover{
    border: solid dimgray 8px;
}