{% extends 'general/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'general/general.css' %}"/>
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <p>{{ project.description }}</p>
    <h2>Problems Solved</h2>
    <p>{{ project.problems_solved }}</p>
    <h2>Lessons Learned</h2>
    <p>{{ project.lessons_learned }}</p>

    <h2> Skills Used </h2>
    <ul>
        {% if project_skill_list %}
            {% for project_skill in project_skill_list %}
                <li><h3>{{ project_skill.skill.name }}</h3>{{ project_skill.reason_used }}</li>
            {% endfor %}
        {% else %}
            <p>No skills found for {{ project.title }}.</p>
        {% endif %}
    </ul>
{% endblock %}