{% extends 'general/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'general/general.css' %}"/>
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <p>{{ project.description }}</p>
<h2> Skills Used </h2>
<ul>
    {% if project_skill_list %}
        {% for project_skill in project_skill_list %}
            <li>{{ project_skill.skill.name }}</li>
        {% endfor %}
    {% else %}
        <p>No skills found for {{ project.title }}.</p>
    {% endif %}
</ul>
{% endblock %}