<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            .outerDiv { width:100%; background:#DEDEDE; height: 100%}
            .innerDiv { width:950px; margin:0 auto; border:solid 2px #000000; }
        </style>
    </head>
    <body>
        <div class="outerDiv">
            <div class="innerDiv">
                This is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test, this is a test.
            </div>
        </div>
    </body>
</html>