{% extends 'general/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'general/general.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'blog/blog_style.css' %}"/>
{% block title %}Blog{% endblock %}
{% block content %}
{% if post_list %}
    <ul>
        {% for post in post_list %}
            <li><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}